<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879190219093-ave4v7u686h0hn8tgniogbsaiqrduno8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879190219093-ave4v7u686h0hn8tgniogbsaiqrduno8</string>
	<key>API_KEY</key>
	<string>AIzaSyCi9DNtke7PQGGElAnV13m4QMAhvcy9Gqc</string>
	<key>GCM_SENDER_ID</key>
	<string>879190219093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pages.pagesdevelopment</string>
	<key>PROJECT_ID</key>
	<string>pagesappdevelopment</string>
	<key>STORAGE_BUCKET</key>
	<string>pagesappdevelopment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879190219093:ios:5f4fbd197395c27d</string>
	<key>DATABASE_URL</key>
	<string>https://pagesappdevelopment.firebaseio.com</string>
</dict>
</plist>